body {
    display: flex;
    justify-content: center;
}
.container {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /*width: 250px;
    height: 350px;*/
    width: fit-content;
    padding: 25px;
    border: 2px solid black;
}
#display {
    background-color: lightgrey;
    height: 50px;
    width: 100%;
    border: 2px solid black;
    margin: 5px 0px;
    text-align: right;
    font-size: 40px;
}
button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.operator {
    color: white;
    background-color: red;
}

.number {
    color: blue;
    font-weight: 700;
}